:root{
  --first-color: #128c7e;
  --letra-color: #fff;
}

html{
  font-size: 16px;
}

/* Encabezado */
header{
  background-color: var(--first-color);
  color: var(--letra-color);
}

/* Main */
.container_form{
  width: 80%;
}